.nav-link{
  color: white
}

.cinema {
  background-image: '../src/assets/cinema.jpg';
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 900px;
  padding: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Movie List */

.movieTable {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 20vh;
  border: solid white 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 1.5%;
}

.tableRow{
  display: flex;
  align-items: center;
}

.movieTable:hover {
  transform: skew(-10deg);
  }

.tableList {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 7rem 7rem 7rem 7rem;
}

.otherBg {
  background-image: url('../src/assets/otherBg.jpg');
  position: relative;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.img {
  height: 75px;
  width: 45px
}

.buttons{
  display: flex;
  justify-content: center;
  align-content: center;
}
.edit {

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
  margin-top: 1.5
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.edit:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.delete {
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
  height: 30px;
}

.delete:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* New Movie Form */

.newForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  border: solid white 1px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.form-group {
  padding-top: 3%;
}

.submit {
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;

}

.submit:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.back {
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
}

.back:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Edit form */

input {
  display: flex;
  flex-direction: column;
  margin-top: 13%
}

.imgEdit {
  height: 350px;
  width: 200px;
  /* margin-left: 165px */
}

.addMovie {
  display: flex;
  flex-direction: column;
  margin-top: 13%;
  justify-content: space-evenly;
  width: 60%;
  /* height: 30vh; */
  border: solid white 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 40px;
  padding: 5%;
  border-radius: 5px;
}

.addInfo{
  display: flex;
  justify-content: center
}

.posterForm {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  border-radius: 5px;
}


.editBack{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
}

.editBack:hover{
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.submitBack {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
}
.submitBack:hover{
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}